/*! * Start Read the Reviews section */

.read-reviews
  background-color: #ffffff
  width: 100%
  padding-top: 89px
  padding-bottom: 178px
  @media (max-width: 992px)
    padding-bottom: 70px
  @media (max-width: 768px)
    padding-top: 20px
    padding-bottom: 52px
  @media (max-width: 576px)
    padding-top: 0
  &__title
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    color: #000000
    margin-bottom: 52px
    @media (max-width: 768px)
      flex-direction: column
      margin-bottom: 35px
    .title
      color: #000000
      font-family: 'Cera GR Bold', serif
      font-size: 35px
      letter-spacing: 0.39px
      line-height: 44px
      @media (max-width: 768px)
        margin-bottom: 20px
      @media (max-width: 576px)
        font-size: 20px
        letter-spacing: 0.22px
        line-height: 25px
    .btn
      width: 190px
      @media (max-width: 576px)
        width: 160px
  &__container
    margin: 0 auto
    width: 100%
    max-width: 940px
  &__top
    width: 100%
    padding-bottom: 43px
    @media (max-width: 992px)
      padding-left: 20px
      padding-right: 20px
    .rating-blk
      width: 100%
      margin-bottom: 30px
      .title
        color: #000000
        font-family: 'CeraGR', serif
        font-size: 16px
        letter-spacing: 4.18px
        line-height: 20px
        margin-bottom: 32px
    .rating-box
      width: 100%
      display: flex
      justify-content: space-between
      li
        width: 30%
        .scale
          margin: 0 0 10px
          @media (max-width: 890px)
            width: 100%
          span
            @media (max-width: 890px)
              width: 19%
        .title
          color: #000000
          font-family: 'CeraGR', serif
          font-size: 16px
          letter-spacing: 0.5px
          line-height: 22px
          margin-bottom: 0
          @media (max-width: 576px)
            font-size: 10px
            letter-spacing: 0.31px
    .images-box
      width: auto
      display: flex
      flex-wrap: wrap
      li
        display: none
        width: 111px
        height: 111px
        margin: 10px
      &__wrapper
        width: 100%
        display: flex
        flex-wrap: wrap
        align-items: center
        position: relative
      &__more
        height: 111px
        width: 111px
        background-color: #202428
        color: #FFFFFF
        font-family: 'Roboto', serif
        font-size: 16px
        letter-spacing: 0.5px
        line-height: 22px
        text-align: center
        display: flex
        align-items: center
        justify-content: center
        margin: 10px
        cursor: pointer
        &:hover
          opacity: .8
        &.less
          position: absolute
          bottom: 0
          right: 155px



.read-reviews
  &__main
    width: 100%
    margin: 0 auto
    max-width: 1400px
    padding: 0 20px
  &__item
    display: none
    width: 100%
    padding: 32px 0
    border-top: 1px solid #979797
    @media (max-width: 576px)
      padding-top: 29px
  &__item-box
    width: 100%
    display: flex
    justify-content: space-between
    @media (max-width: 768px)
      flex-direction: column
    .item-left
      padding-top: 7px
      width: 150px
      @media (max-width: 768px)
        order: 1
        width: 100%
        margin-bottom: 25px
      .stars
        color: #D1D1D1
        margin-bottom: 23px
        @media (max-width: 768px)
          margin-bottom: 13px
        .active
          color: #D82D00
      .customer
        color: #000000
        font-family: 'Cera GR Bold', serif
        font-size: 16px
        letter-spacing: 0.18px
        line-height: 20px
      .date
        color: #000000
        font-family: 'CeraGR', serif
        font-size: 16px
        letter-spacing: 0.18px
        line-height: 20px
        @media (max-width: 576px)
          font-size: 12px
          letter-spacing: 0.13px
          line-height: 15px
    .item-center
      width: 500px
      @media (max-width: 768px)
        order: 3
        width: 100%
      .title
        color: #000000
        font-family: 'Cera GR Bold', serif
        font-size: 24px
        letter-spacing: 0.27px
        line-height: 30px
        margin-bottom: 13px
        @media (max-width: 576px)
          font-size: 18px
          letter-spacing: 0.2px
          line-height: 23px
          width: 80%
      .description
        @media (max-width: 576px)
          font-size: 12px
          letter-spacing: 0.13px
          line-height: 18px
          margin-bottom: 22px
      .images
        width: 100%
        display: flex
        flex-wrap: wrap
        img
          @media (max-width: 576px)
            width: 70px
            height: 70px
            object-fit: cover
        li
          margin-right: 22px
          @media (max-width: 576px)
            margin-right: 10px

    .item-right
      width: 170px
      @media (max-width: 768px)
        order: 2
        margin-bottom: 40px
      .title
        color: #000000
        font-family: 'CeraGRMedium', serif
        font-size: 10px
        letter-spacing: 2.61px
        line-height: 13px
        margin-bottom: 9px
      .customer-list
        color: #000000
        font-family: 'CeraGR', serif
        font-size: 12px
        letter-spacing: 0.13px
        line-height: 18.12px
        li
          margin-bottom: 3px
      .property
        font-family: 'Cera GR Bold', serif

  .rev-more
    width: 192px
    margin: 60px auto 0
    @media (max-width: 576px)
      margin-top: 0
  .rev-less
    width: 192px
    margin: 60px auto 0
    @media (max-width: 576px)
      margin-top: 0















/*! * End Read the Reviews section */