/*! * Start hero */

.hero
  width: 100%
  background: center/cover no-repeat


.hero-slider__wrapper
  padding-top: 94px
  margin: 0 auto
  width: 100%
  position: relative


.hero-slider__content
  width: 100%
  display: flex

.hero-title
  color: #FFFFFF
  font-size: 62px
  font-weight: 400
  letter-spacing: 0.69px
  line-height: 75px
  text-align: center
  font-family: 'Lucida Grande', serif
  margin-bottom: 82px
  span
    font-family: 'RODUSsquare700', serif

.hero-slider__text
  width: 50%
  color: #ffffff
  .pre-title
    font-family: 'RODUSsquare700', serif
    font-size: 16px
    font-weight: bold
    letter-spacing: 4.18px
    line-height: 16px
    margin-bottom: 18px
  .title
    font-family: 'Cera GR Bold', serif
    font-size: 36px
    letter-spacing: 0.4px
    line-height: 45px
    margin-bottom: 18px
  .text
    font-family: 'CeraGR', serif
    font-size: 16px
    letter-spacing: 0.5px
    line-height: 22px
    width: 55%
    margin-bottom: 30px
  .btn
    width: 164px

.hero-slider-left
  cursor: pointer
  position: absolute
  left: -12px
  bottom: 37%
  &:hover
    opacity: .8

.hero-slider-right
  cursor: pointer
  position: absolute
  right: -12px
  bottom: 37%
  &:hover
    opacity: .8


.made-usa
  position: absolute
  right: 40px
  bottom: 20px



.hero-slider__main
  background: 100% -97px/765px no-repeat
  position: relative
  padding-bottom: 119px
  @media (min-width: 1440px)
    background: 100% -134px/882px 665px no-repeat

.hero-tabgroup
  position: relative
  height: 605px
  .tab-content
    position: absolute
    width: 100%
    height: 100%
    z-index: 10
  .hide
    visibility: hidden
    z-index: -2

.hero-tabs
  width: 100%
  max-width: 1440px
  display: flex
  align-items: center
  li
    width: 100%
  li a
    width: 100%
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center
    border-top: 1px solid #737373
    border-bottom: 14px solid transparent
    padding: 22px 0 11px
    transition: all .3s
    &:hover
      border-bottom-color: #d60514
    &.active
      border-bottom-color: #d60514
      border-top-color: transparent
  .tab-center
    border-left: 1px solid #737373
    border-right: 1px solid #737373




.hero-bottom
  width: 100%
  background-color: #000000
  &__line
    width: 70%
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: space-between
    padding: 14px 0
    color: #ffffff
    li
      width: 100%
      color: #ffffff
      font-family: Roboto, serif
      font-size: 12px
      font-weight: 700
      letter-spacing: 2.05px
      text-transform: uppercase
      text-align: center
  .shipping
    border-left: 1px solid #ffffff
    border-right: 1px solid #ffffff
    padding: 0 35px




















/*! * End hero */