/*! * Start Performance sections */

.performance
  width: 100%
  @media (max-width: 992px)
    .container
      width: auto
      padding: 0
  &__top
    width: 100%
    height: 600px
    display: flex
    align-items: flex-start
    justify-content: center
    padding-top: 60px
    background: center/cover no-repeat
    margin-bottom: 86px
    @media (max-width: 992px)
      height: 500px
    @media (max-width: 576px)
      padding-top: 40px
      height: 360px
      margin-bottom: 40px
    .performance__link
      display: flex
      flex-direction: column
      align-items: center
      .video-title
        color: #ffffff
        font-family: "Cera GR Bold", serif
        font-size: 35px
        font-weight: 700
        letter-spacing: 0.39px
        margin-top: 22px
        @media (max-width: 576px)
          font-size: 20px
          letter-spacing: 0.22px
          line-height: 24px
          width: 150px
          margin: 10px auto 0
          text-align: center
  .video-list
    width: 100%
    display: flex
    justify-content: space-between
    margin-bottom: 30px
    @media (max-width: 992px)
      overflow-x: scroll
    @media (max-width: 576px)
      margin-bottom: 18px
    @media (max-width: 480px)
      justify-content: flex-start
    &__title
      color: #000000
      font-family: 'RODUSsquare700', serif
      font-size: 16px
      letter-spacing: 4.18px
      text-transform: uppercase
      margin-bottom: 30px
      @media (max-width: 992px)
        text-align: center
      @media (max-width: 576px)
        font-size: 10px
        letter-spacing: 2.61px
        line-height: 10px
        margin-bottom: 28px
    &__bottom
      width: 100%
      display: flex
      align-items: center
      justify-content: space-between
      @media (max-width: 992px)
        justify-content: center
        flex-direction: column
      .follow
        color: #000000
        font-family: "Cera GR Bold", serif
        font-size: 18px
        font-weight: 700
        letter-spacing: 0.2px
        margin: 0
        @media (max-width: 992px)
          margin-bottom: 16px
        @media (max-width: 576px)
          font-size: 14px
          letter-spacing: 0.16px
          line-height: 18px
          margin-bottom: 10px
      .socials__item a
        color: #000000
        font-family: "Cera GR Bold", serif
        font-size: 18px
        font-weight: 700
        letter-spacing: 0.2px
        @media (max-width: 576px)
          font-size: 10px
          letter-spacing: 0.11px
          line-height: 13px
  .video-item
    width: 24%
    position: relative
    @media (max-width: 992px)
      width: max-content
      margin-right: 32px
    @media (max-width: 576px)
      margin-right: 11px
    .video-icon
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 50px
      height: 50px
      &:focus
        opacity: .2
      @media (max-width: 380px)
        height: 16.54px
        width: 16.54px
        img
          height: 3.87px
          width: 3.87px
    video
      width: 100%
      height: 254px
      @media (max-width: 992px)
        width: 254px
      @media (max-width: 576px)
        height: 200px
        width: 200px
      @media (max-width: 380px)
        height: 84px
        width: 84px


.video-icon
  width: 75px
  height: 75px
  border-radius: 50%
  background: rgba(255, 255, 255, 0.76)
  display: flex
  align-items: center
  justify-content: center
  transition: all .3s
  border: none
  outline: none
  box-shadow: none
  @media (max-width: 576px)
    height: 49px
    width: 49px
    img
      height: 13px
      width: 13px
  &:hover, &:focus, &:active
    background: #ffffff
    border: none
    outline: none
    box-shadow: none



.collection-performance
  padding-top: 124px
  padding-bottom: 60px
  @media (max-width: 1200px)
    padding-top: 80px
  @media (max-width: 768px)
    padding-top: 40px
    padding-bottom: 0


.product-performance
  background-color: #f6f6f5
  padding-bottom: 98px
  @media (max-width: 768px)
    background-color: #ffffff
    padding-bottom: 40px
  @media (max-width: 576px)
    padding-bottom: 14px






/*! * End Performance sections */