/*! * Start COLLECTION PAGE hero */

.collection-tabgroup
  width: 100%
  .tab-content
    width: 100%
    padding-top: 60px
    @media (max-width: 576px)
      padding-top: 19px
.collection-tab
  &__container
    width: 100%
    max-width: 1300px
    margin: 0 auto
    padding: 0 20px
    position: relative
  &__title
    width: 100%
    text-align: center
    margin-bottom: 45px
    @media (max-width: 480px)
      width: 300px
      margin-left: auto
      margin-right: auto
    .pre-title
      margin: 0 auto
      @media (max-width: 576px)
        height: 20px
        width: 125.26px
        margin-bottom: 10px
    .title
      color: #ffffff
      font-family: "Cera GR Bold", serif
      font-size: 51px
      font-weight: 700
      letter-spacing: 0.57px
      line-height: 78px
      margin-bottom: 10px
      @media (max-width: 768px)
        font-size: 32px
      @media (max-width: 576px)
        font-size: 24px
        letter-spacing: 0.27px
        line-height: 30px
    .past-title
      color: #ffffff
      font-family: 'RODUSsquare700', serif
      font-size: 16px
      letter-spacing: 4.18px
      text-transform: uppercase
      @media (max-width: 576px)
        font-size: 10px
        letter-spacing: 2.61px
        line-height: 10px
        padding-top: 5px
  &__box
    width: 100%
    display: flex
    justify-content: space-between
  &__item
    width: 28%
    display: flex
    &:first-child img
      width: 95%
      margin: 0 auto
    &:nth-child(2) img
      @media (max-width: 768px)
        width: 91%
        margin: 0 auto
    &:last-child img
      @media (max-width: 768px)
        width: 100%
        margin: 0 auto
    @media (max-width: 768px)
      align-items: flex-end
    a
      display: inline-block
      width: 100%
    img
      width: 100%
      height: 100%
      object-fit: cover
      display: block
      @media (max-width: 768px)
        height: auto


.collection-tabs
  @extend .hero-tabs
  li a
    background-image: linear-gradient(207deg, #333a3e 0%, #171b1d 100%)
    border: none!important
    padding: 0
    display: flex
    align-items: center
    transition: all .3s
    span
      color: #ffffff
      font-family: 'RODUSsquare700', serif
      font-size: 16px
      letter-spacing: 4.18px
      text-transform: uppercase
      margin-right: 30px
      @media (max-width: 992px)
        font-size: 12px
        margin-right: 0
    &:hover
      border: none!important
      background-image: linear-gradient(207deg, #171b1d 100%, #333a3e 0%)
    &.active
      background: #ffffff
      border: none!important
      span
        color: #000000
    img
      @media (max-width: 992px)
        transform: scale(.7)



.collection-usa
  position: absolute
  top: 0
  right: 30px
  @media (max-width: 768px)
    display: none





/*! * End COLLECTION PAGE hero */