/*! * Start About Us */
.about-us-hero
  background: center/cover no-repeat, 0 0/0 no-repeat
  @media (max-width: 576px)
    background: center/0 no-repeat, center 100%/cover no-repeat
  .accessories-hero__title
    @media (max-width: 576px)
      font-size: 24px
      font-weight: bold
      letter-spacing: 0.27px
      line-height: 31px
      margin: 50px 0 20px

.about-title
  width: 100%
  text-align: center
  padding: 72px 0 50px
  @media (max-width: 576px)
    padding: 22px 0 30px
  .pre-title
    color: #000000
    font-family: 'RODUSsquare700', serif
    font-size: 16px
    font-style: normal
    letter-spacing: 4.18px
    line-height: normal
    text-align: center
    text-transform: uppercase
    @media (max-width: 576px)
      font-size: 8px
      letter-spacing: 2.67px
      line-height: 9px
      margin: 0
  .title
    color: #000000
    font-family: 'Cera GR Bold', serif
    font-size: 36px
    font-weight: 700
    font-style: normal
    letter-spacing: normal
    line-height: 48px
    text-align: center
    margin: 0
    span
      color: $accent
    @media (max-width: 576px)
      font-size: 17px
      letter-spacing: 0
      line-height: 23px

.about-top
  width: 100%
  background-color: #f5f5f5
  position: relative
  &__box
    width: 100%
    display: flex
    justify-content: flex-end
    @media (max-width: 768px)
      flex-wrap: wrap
  .img-blk
    width: 50%
    height: 100%
    position: absolute
    top: 0
    left: 0
    bottom: 0
    @media (max-width: 768px)
      width: 100%
      height: auto
      position: relative
    @media (min-width: 1440px)
      width: 45%
    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: bottom right
      @media (max-width: 768px)
        height: auto
  .text-blk
    width: 50%
    padding-left: 70px
    padding-top: 100px
    padding-bottom: 160px
    @media (max-width: 768px)
      width: 100%
      padding-left: 0
      padding-top: 30px
      padding-bottom: 60px
    @media (max-width: 576px)
      padding-bottom: 40px
      font-size: 13px
      letter-spacing: 0
      line-height: 21px
    @media (min-width: 1440px)
      width: 55%

.about-mission
  width: 100%
  padding: 110px 0 60px
  @media (max-width: 768px)
    padding: 60px 0
  @media (max-width: 576px)
    padding: 30px 0 0
  &__title
    color: #000000
    font-family: 'Cera GR Bold', serif
    font-size: 24px
    font-weight: 700
    font-style: normal
    letter-spacing: 0.75px
    line-height: 26px
    text-align: center
    @media (max-width: 576px)
      font-size: 18px
      letter-spacing: 0
      line-height: 24px
      max-width: 280px
      margin: 0 auto 37px
    span
      color: #dd3541
      text-transform: uppercase
      @media (max-width: 576px)
        display: block
  &__box
    width: 100%
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    .box-item
      width: 48.5%
      box-shadow: 2px 2px 15px rgba(226, 226, 226, 0.5)
      border-radius: 3px
      background-color: #ffffff
      padding: 30px 30px 30px 20px
      margin-bottom: 30px
      display: flex
      align-items: flex-start
      @media (max-width: 768px)
        width: 100%
      @media (max-width: 576px)
        padding: 20px
      .icon
        margin-right: 30px
        margin-top: 10px
        @media (max-width: 576px)
          width: 17%
          height: auto
          margin-right: 10px
      .title
        color: #000000
        font-family: 'Cera GR Bold', serif
        font-size: 20px
        font-weight: 700
        font-style: normal
        letter-spacing: 0.83px
        line-height: normal
        text-align: left
        margin: 0 0 5px
        @media (max-width: 576px)
          font-size: 16px
          letter-spacing: 0.67px
          line-height: 20px
      .text
        font-size: 11px
        letter-spacing: 0
        line-height: 18px

.about-history
  width: 100%
  background-color: #f9f9f9
  padding-bottom: 100px
  @media (max-width: 768px)
    padding-bottom: 30px
  @media (max-width: 576px)
    padding-bottom: 20px
  .about-title
    padding-bottom: 88px
    @media (max-width: 768px)
      padding-bottom: 40px
    @media (max-width: 576px)
      padding: 30px 0 32px
  &__content
    width: 100%
    .year
      color: #d60514
      font-size: 48px
      line-height: 36px
      font-family: 'Cera GR Bold', serif
      font-weight: 700
      letter-spacing: 1px
      margin: 0 0 8px
      padding-left: 30px
      position: relative
      @media (max-width: 576px)
        color: #d60514
        font-size: 36px
        font-style: normal
        letter-spacing: 0.75px
        line-height: 24px
        margin: 0 0 10px
        padding: 0
        text-align: center
      &:before
        content: ''
        display: block
        width: 50px
        height: 50px
        background-color: #d60514
        border-radius: 50%
        position: absolute
        left: -24px
        top: 2px
        border: 15px solid #f9f9f9
        @media (max-width: 576px)
          display: none

  &__main
    width: 100%
    padding-left: 30px
    padding-bottom: 60px
    border-left: 2px solid #d0d0d0
    @media (max-width: 576px)
      padding: 0
      border: 0
    .title
      color: #222222
      font-family: 'Cera GR Bold', serif
      font-size: 20px
      font-weight: 700
      letter-spacing: 1px
      line-height: 36px
      margin-bottom: 20px
      @media (max-width: 576px)
        margin-bottom: 17px
        line-height: 22px
        font-size: 14px
        font-weight: 700
        text-align: center
    .history-box
      background-color: #ffffff
      display: flex
      justify-content: space-between
      height: 500px
      @media (max-width: 1200px)
        height: auto
        display: block
      .img-blk
        width: 50%
        height: 100%
        @media (max-width: 1200px)
          width: 370px
          height: auto
        @media (max-width: 768px)
          width: 200px
        @media (max-width: 576px)
          width: 100%
        img
          width: 100%
          height: 100%
          object-fit: cover
          object-position: bottom
      .text
        padding: 40px
        width: 50%
        @media (max-width: 1200px)
          width: 100%
        @media (max-width: 576px)
          padding: 20px
        p
          letter-spacing: 0.5px
          line-height: 26px
          @media (max-width: 576px)
            font-size: 11px
            letter-spacing: 0
            line-height: 18px


.about-history__item:last-child .about-history__main
  border: none

@media (max-width: 1200px)
  .img-left
    float: left
    margin: 40px 30px 20px 0
  .img-right
    float: right
    margin: 40px 0 20px 30px
@media (max-width: 576px)
  .img-left
    float: none
    padding: 0
    margin: 0
  .img-right
    float: none
    padding: 0
    margin: 0



.shop-more
  .series__title
    margin-bottom: 70px
    @media (max-width: 576px)
      margin-bottom: 40px
    .title
      span
        color: #d60514
  .series__item
    background-color: #f6f6f5
    padding-top: 20px
    .item-title
      font-size: 14px
      line-height: 20px
    .item-price
      margin-bottom: 10px
    .item-top
      margin-bottom: 0
    .item-image
      height: 286px
    .btn
      bottom: auto
      top: 138px
    &:hover .btn
      opacity: 1


.years-mobile
  width: 100%
  margin-bottom: 25px
  .slick-list
    padding: 0!important
  .slick-track
    width: 100%
    display: flex
    justify-content: space-between
  &__item
    display: flex!important
    flex-direction: column
    align-items: center
    text-align: center
    .year-dot
      width: 18px
      height: 18px
      border-radius: 50%
      border: 3px solid #f5f5f5
      background-color: #dadada
      margin-bottom: 10px
      display: block
      position: relative
      transition: all .3s
      &:after
        content: ''
        display: block
        height: 2px
        width: 46px
        background-color: #dadada
        position: absolute
        right: -52px
        top: 5px
    &.last
      .year-dot:after
        display: none
    .year-text
      color: #000000
      font-family: 'CeraGR', serif
      font-size: 12px
      font-weight: 400
      font-style: normal
      letter-spacing: normal
      line-height: 24px
  .slick-current
    .year-dot
      background-color: #d60514
    .year-text
      color: #d60514
      font-size: 18px
      font-weight: 700


.about-history__content-wrap
  position: relative
  .slick-arrow img
    width: 20px
    height: 40px
    opacity: .5
  .hero-slider-left
    bottom: auto
    top: 24%
  .hero-slider-right
    bottom: auto
    top: 24%

.about-shop-more
  @media (max-width: 576px)
    padding-bottom: 0
  @media (max-width: 380px)
    .rx-series__slider-arrows .hero-slider-left
      bottom: 38%
    .rx-series__slider-arrows .hero-slider-right
      bottom: 38%



/*! * End About Us */