
/*! * Start config */

// USER VARIABLES SECTION

$accent: #d60514 // Accent Color
$fontsize: 16px // Body Font Size
$textcolor: #000000 // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family
$cera: 'CeraGR', sans-serif



// IMPORT SECTION

@import '../libs/bootstrap-reboot.css' // Bootstrap Reboot collection
//@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss' // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss' // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss' // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		// font-display: swap // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2')

@include font('CeraGR', normal, 400, '../fonts/CeraGR.woff2')
@include font('Cera GR Light', thin, 200, '../fonts/Cera GR Light.woff2')
@include font('CeraGRMedium', medium, 500, '../fonts/CeraGRMedium.woff2')
@include font('Cera GR Bold', bold, 700, '../fonts/Cera GR Bold.woff2')

@include font('Lucida Grande', normal, 400, '../fonts/lucida_grande-webfont.woff2')
@include font('Lucida Grande Bold', bold, 700, '../fonts/lucida_grande_bold-webfont.woff2')

@include font('RODUSsquare300', normal, 400, '../fonts/rodussquare300-webfont.woff2')
@include font('RODUSsquare700', normal, 400, '../fonts/rodussquare700.woff2')

// GENERAL DOCUMENT STYLES


.d-none
	display: none

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-family: $cera
	font-size: $fontsize
	min-width: 320px
	position: relative
	line-height: 1.37
	overflow-x: hidden
	color: $textcolor

.container
	width: 100%
	max-width: 1112px
	margin: 0 auto
	@media(max-width: 1050px)
		padding: 0 25px


ul
	padding: 0
	margin: 0
	list-style: none
li
	padding: 0
	margin: 0


a
	transition: all .3s
	text-decoration: none
	&:hover, &:focus
		text-decoration: none
		outline: none


.btn
	border-radius: 23px
	background-color: #d60514
	padding: 12px 0
	display: flex
	align-items: center
	justify-content: center
	color: #ffffff
	font-family: 'Cera GR Bold', serif
	font-size: 16px
	font-weight: 700
	letter-spacing: 0.5px
	text-decoration: none
	box-shadow: none
	border: none
	outline: none
	&:hover, &:focus, &:active
		background-color: rgb(231, 5, 20)
		color: #ffffff
		box-shadow: none
		border: none
		outline: none

.btn-outline
	@extend .btn
	background: #ffffff
	border: 2px solid #000000
	color: #000000
	&:hover, &:focus, &:active
		border: 2px solid #000000
		background: #ffffff
		color: #000000
		box-shadow: -2px -2px 39px #ccc



.socials
	display: flex
	align-items: center
	justify-content: flex-end
	&__item
		margin-left: 10px



.slick-dots li button:before
	font-size: 16px
	color: #ffffff
	opacity: 1
.slick-dots li.slick-active button:before
	opacity: 1
	color: #d60514







/*! * End config */