/*! * Start Why Cure Page */

.w-hero
  background: center/cover no-repeat, center/0 no-repeat
  @media (max-width: 768px)
    background: center/0 no-repeat, 100% 100%/cover no-repeat
  @media (max-width: 375px)
    height: 433px
    background: center/0 no-repeat, 100% 0/cover no-repeat

.why-cure-hero
  text-align: center
  color: #ffffff
  width: 100%
  max-width: 569px
  margin: 10px auto 30px
  @media (max-width: 576px)
    width: 270px
    margin: 0 auto
    @media (max-width: 375px)
      margin: 94px auto 0
  .pre-title
    font-family: 'RODUSsquare700', serif
    font-size: 18px
    font-style: normal
    letter-spacing: 4.2px
    line-height: 28px
    text-align: center
    text-transform: uppercase
    margin-bottom: 40px
    @media (max-width: 576px)
      font-size: 9px
      font-style: normal
      letter-spacing: 2.1px
      line-height: 39px
      margin-bottom: 0
  .title
    font-family: 'RODUSsquare700', serif
    font-size: 48px
    font-style: normal
    letter-spacing: 0.53px
    line-height: 62px
    text-align: center
    @media (max-width: 576px)
      font-size: 24px
      font-style: normal
      letter-spacing: 0.27px
      line-height: 31px
      margin-bottom: 0
  .hero-text
    font-family: 'CeraGR', serif
    font-size: 24px
    font-weight: 400
    font-style: normal
    letter-spacing: 0.75px
    line-height: 40px
    text-align: center
    @media (max-width: 576px)
      font-size: 12px
      font-weight: 400
      font-style: normal
      letter-spacing: 0.38px
      line-height: 20px

.tabs-wrap
  @media (max-width: 768px)
    overflow-x: scroll

.why-tabs
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  @media (max-width: 768px)
    width: 768px
  @media (max-width: 576px)
    width: 576px
  @media (max-width: 375px)
    width: 375px
  &__item
    width: 50%
    text-align: center
  &__title
    width: 100%
    padding: 38px 0 39px
    color: #ffffff
    font-family: 'RODUSsquare700', serif
    font-size: 20px
    font-style: normal
    letter-spacing: 2.22px
    line-height: normal
    text-transform: uppercase
    background-image: linear-gradient(207deg, #333a3e 0%, #171b1d 100%)
    display: inline-block
    text-align: center
    @media (max-width: 576px)
      font-size: 9px
      font-style: normal
      letter-spacing: 1px
      padding: 18px 0 16px
    span
      color: #d60514
    &.active
      background: #ffffff
      color: #000000


.moi-title
  .pre-title
    @media (max-width: 576px)
      font-size: 10px
      font-style: normal
      letter-spacing: 2.6px
      margin-bottom: 5px
  .title span
    display: block
  .text
    padding-top: 36px
    width: 100%
    max-width: 744px
    margin: 0 auto
    @media (max-width: 576px)
      font-size: 17px
      font-weight: 700
      font-style: normal
      letter-spacing: normal
      line-height: 23px

.comp-moi__box
  .btn
    width: max-content
    margin-top: 30px
    @media (max-width: 576px)
      width: 100%

.moi-comparison
  height: auto
  padding: 45px 70px
  @media (max-width: 576px)
    padding: 30px 5px
    margin-bottom: 40px
  .comp-perf__box
    .text-blk
      width: 100%
      display: flex
      justify-content: space-between
      align-items: center
      .title
        margin: 0
        text-align: center
        @media (max-width: 768px)
          margin-bottom: 37px
        @media (max-width: 576px)
          font-size: 24px
          letter-spacing: 0
          line-height: 32px
      .btn
        text-align: center



.moi-banner
  width: 100%
  height: 520px
  background: 0 0/cover no-repeat, 0 0/0 no-repeat
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  color: #ffffff
  @media (max-width: 768px)
    height: 470px
    background: 0 0/0 no-repeat, -175px 0/cover no-repeat
  &__content
    width: 100%
    max-width: 826px
    padding: 0 20px
    @media (max-width: 768px)
      margin-top: 117px
  .pre-title
    font-family: 'RODUSsquare700', serif
    font-size: 21px
    font-style: normal
    letter-spacing: 5.57px
    line-height: normal
    text-align: center
    text-transform: uppercase
    margin-bottom: 12px
    @media (max-width: 576px)
      font-size: 11px
      letter-spacing: 2.78px
      margin-bottom: 10px
  .title
    font-family: 'CeraGR', serif
    font-size: 38px
    font-weight: 700
    font-style: normal
    letter-spacing: normal
    line-height: 51.19px
    text-align: center
    margin: 0
    @media (max-width: 576px)
      font-size: 24px
      font-weight: 700
      line-height: 30.6px



.stability
  width: 100%
  @media (max-width: 576px)
    margin-bottom: 20px
  .moi-title
    margin-bottom: 20px
    @media (max-width: 576px)
      padding: 47px 0 0
    .text
      @media (max-width: 576px)
        padding-top: 13px
        font-size: 13px
        font-weight: 400
        font-style: normal
        letter-spacing: 0.41px
        line-height: 21px
        margin-bottom: 0
  &__video
    width: 100%
    height: 539px
    box-shadow: 0 0 20px #ccc
    overflow: hidden
    position: relative
    @media (max-width: 576px)
      height: 300px
      margin-top: 30px
    @media (max-width: 375px)
      height: 158px
    .video-item
      width: 100%
      height: 100%
      position: relative
    .video-icon
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      width: 122px
      height: 122px
      background-color: rgba(227, 227, 227, 0.91)
      @media (max-width: 576px)
        width: 33px
        height: 33px
      .fa-play
        color: $accent
        font-size: 42px
        padding-left: 10px
        @media (max-width: 576px)
          font-size: 13px
          padding-left: 3px
      &:focus
        opacity: .2


.industry-tabs
  width: 100%
  max-width: 740px
  margin: 17px auto 65px
  display: flex
  align-items: center
  justify-content: space-between
  @media (max-width: 768px)
    margin-top: 0
    margin-bottom: 34px
    padding-left: 15px
    padding-right: 15px
  &__item
    width: 49%

.industry-tab
  padding: 0 10px 0 35px
  border-radius: 3px
  border: 2px solid #dcdcdc
  background-color: #ffffff
  display: flex
  width: 100%
  height: 100px
  align-items: center
  justify-content: flex-start
  @media (max-width: 576px)
    padding: 0 0 0 0
    height: 50px
  img
    margin-right: 30px
    display: none
    @media (max-width: 576px)
      margin-right: 0
      transform: scale(.6, .6)
    &:nth-of-type(2)
      display: block
  .text-blk
    display: flex
    flex-direction: column
    text-align: left
    color: #000000
    .title
      font-family: 'Cera GR Bold', serif
      font-size: 18px
      font-weight: 700
      font-style: normal
      letter-spacing: 0.36px
      line-height: normal
      margin-bottom: 0
      @media (max-width: 576px)
        font-size: 11px
        line-height: 16px
    .text
      font-family: 'CeraGR', serif
      font-size: 16px
      font-weight: 400
      font-style: normal
      letter-spacing: 0.32px
      line-height: 24px
      margin: 0
      @media (max-width: 576px)
        font-size: 8px
        line-height: 14px
  &.active
    background-color: #000000
    border: 2px solid #000000
    img:first-of-type
      display: block
    img:nth-of-type(2)
      display: none
    .text-blk
      color: #ffffff

.leader-inner-tabs
  margin-bottom: 75px
  @media (max-width: 768px)
    margin-bottom: 50px
.industry-tab-inner
  position: relative
  width: 100%
  background-color: #ffffff
  @media (max-width: 768px)
    padding-top: 0
  .about-top__box
    height: 550px
    align-items: center
    @media (max-width: 1000px)
      height: auto
    @media (max-width: 768px)
      flex-wrap: wrap
      justify-content: flex-start
  .img-blk
    width: 61%
    @media (max-width: 1000px)
      position: relative
    @media (max-width: 768px)
      height: auto
      width: 100%
      margin-bottom: 25px
    img
      @media (max-width: 1000px)
        height: auto
  .text-blk
    width: 37%
    line-height: 25px
    padding-top: 0
    padding-bottom: 0
    @media (max-width: 1000px)
      width: 39%
      padding-left: 30px
    @media (max-width: 768px)
      width: 100%
      padding: 0
    .title
      color: #d60514
      font-family: 'Cera GR Bold', serif
      font-size: 36px
      font-weight: 700
      font-style: normal
      letter-spacing: normal
      line-height: 46px
      margin-bottom: 50px


@media (max-width: 768px)

  .comp-moi
    .container
      padding: 0
  .moi-title
    padding-left: 20px
    padding-right: 20px
  .comp-moi__box .text-blk
    padding-left: 20px
    padding-right: 20px

@media (max-width: 576px)
  .comp-moi__box .img-text p
    font-size: 15px
    font-weight: 700
    font-style: normal
    letter-spacing: normal
    line-height: 21.03px
  .comp-moi__box .img-text
    padding: 14px 0 0 19px
  .comp-moi__box .title
    font-size: 18px
    font-weight: 700
    font-style: normal
    letter-spacing: normal
    line-height: 23px
  .comp-moi__box .text
    font-size: 13px
    font-weight: 400
    font-style: normal
    letter-spacing: 0.41px
    line-height: 21px
  .comp-moi
    margin-bottom: 40px
  .leader-title
    .pre-title
      font-size: 6px
      letter-spacing: 1.71px
    .title
      font-size: 18px
      letter-spacing: 0
      line-height: 23px

.leader-inner-tabs .leader-tab
  .title
    color: #000000
    font-family: 'Cera GR Bold', serif
    font-size: 36px
    letter-spacing: 0
    line-height: 46px
    margin: 0 0 50px
    span
      color: #D60514
    @media (max-width: 576px)
      font-size: 18px
      letter-spacing: 0
      line-height: 46px
      margin: 0 0 15px
  .text-blk p
    @media (max-width: 576px)
      font-size: 13px
      letter-spacing: 0.41px
      line-height: 21px
  .btn
    width: 100%
    margin-top: 50px


@media (max-width: 1400px)
  #leader-inner-lie
    .img-blk
      width: 63%
      img
        object-position: -66px 0px
@media (max-width: 1440px)
  #leader-inner-lie
    .text-blk
      padding-left: 90px
    .img-blk
      width: 63%
      img
        object-position: center bottom

@media (max-width: 1290px)
  #leader-inner-lie
    .text-blk
      padding-left: 70px
    .img-blk
      width: 63%
      img
        object-position: center right
@media (max-width: 768px)
  #leader-inner-lie .text-blk
    padding-left: 0
@media (max-width: 576px)
  #leader-inner-lie .img-blk
    width: 100%
    height: auto
    margin-bottom: 25px



.why-cure-bottom-slider
  padding-top: 0
  position: relative
  &.series
    @media (max-width: 567px)
      padding-bottom: 0

.why-tabgroup
  .shop-more .series__title
    margin-bottom: 50px
    @media (max-width: 576px)
      margin-bottom: 30px
  .series
    @media (max-width: 768px)
      padding-bottom: 0

.leader-comparison
  margin-bottom: 117px
  @media (max-width: 768px)
    margin-bottom: 60px




.series__title .title span
  color: $accent

@media (max-width: 576px)
  .about-title .pre-title.mob-10
    font-size: 10px
    letter-spacing: 2px
  .about-title .pre-title.mob-8
    font-size: 8px
  .leader-title
    padding-left: 0
    padding-right: 0


/*! * End Why Cure Page */