/*! * PRODUCT PAGE Product main Section Start */

.product
  &__container
    padding-top: 39px
  &__box
    display: flex
    justify-content: space-between
    width: 100%
  &__top
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 74px
    .series-pre-title
      color: #FFFFFF
      font-family: 'RODUSsquare700', serif
      font-size: 16px
      font-weight: bold
      letter-spacing: 4.18px
      line-height: 16px
    .title
      color: #FFFFFF
      font-family: 'Cera GR Bold', serif
      font-size: 18px
      letter-spacing: 0
      line-height: 25px
    .title-rate
      display: flex
      align-items: center
      span
        color: #FFFFFF
        font-family: 'Roboto', serif
        font-size: 11px
        letter-spacing: 2.87px
        line-height: 13px
        text-align: center
    .rate-stars
      color: #ffffff
      margin-right: 10px
    .btn
      width: 293px

  &__picture
    width: 40%
  &__description
    width: 50%
    .product__top
      margin-top: -9px
    &-top
      width: 80%
      border-bottom: 1px solid rgba(151, 151, 151, 0.51)
      margin-bottom: 34px
      padding-bottom: 34px
      padding-top: 34px
    .product__title
      color: #FFFFFF
      font-family: 'Cera GR Bold', serif
      font-size: 35px
      letter-spacing: 0.39px
      line-height: 40px
      margin-bottom: 27px
    .product__text
      color: #FFFFFF
      font-family: 'CeraGR', serif
      font-size: 16px
      letter-spacing: 0.5px
      line-height: 22px
    .product__link
      color: #FFFFFF
      font-family: 'CeraGR', serif
      font-size: 16px
      letter-spacing: 0.5px
      line-height: 25px
      text-decoration: underline
    &-bottom
      text-align: left
    .available
      color: #FFFFFF
      font-family: 'Cera GR Bold', serif
      font-size: 14px
      letter-spacing: 3.66px
      line-height: 18px
      text-transform: uppercase
      margin-bottom: 14px
    .colors-title
      color: #FFFFFF
      font-family: 'CeraGR', serif
      font-size: 16px
      letter-spacing: 0.5px
      line-height: 22px
      margin-bottom: 7px
    .colors
      display: flex
      align-items: center
      li
        margin-right: 14px
    .color-item
      height: 35px
      width: 35px
      border-radius: 50%
      display: inline-block
      &:hover
        box-shadow: 0 12px 14px rgba(0, 0, 0, 0.5)
      &.active
        border: 3px solid rgba(255, 255, 255, 0.27)
        box-shadow: 0 12px 14px rgba(0, 0, 0, 0.5)












.product-slider
  width: 100%
  display: flex
  justify-content: space-between

.product-slider-thumb
  width: 30%
  .slick-slide
    &:focus
      border-color: transparent
      outline: none
    &:hover
      cursor: pointer
  .thumbnail-image
    padding: 10px
  .thumbImg
    height: 69px
    width: 69px
    background: #ffffff
    border-radius: 50%
    opacity: .7
    display: flex
    align-items: center
    justify-content: center
    &:hover
      opacity: 1
  .slick-slide.slick-current.slick-active
    .thumbImg
      opacity: 1
      border: 5px solid #cccccc



.product-slider-main
  width: 60%




/*! * PRODUCT PAGE Product main Section End */